{% extends "base/base.html" %}
{% load static %}
{% load humanize %}
{% load render_partial %}

{% block content %}
    <div id="container">
        <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="cart.html">سبد خرید</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
            <h1 class="title">سبد خرید</h1>
                <div class="table-responsive">
             {% for item in cart_products %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td class="text-center">تصویر</td>
                        <td class="text-left">نام محصول</td>
                        <td class="text-left">مدل</td>
                        <td class="text-right">قیمت واحد</td>
                        <td class="text-right">کل</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><a href="{% url 'product' item.id %}" ><img src="{{ item.picture.url}}"
                               style="width: 100px; height: 100px;" alt="{{ item.name }}" title="تبلت ایسر" class="img-thumbnail"></a></td>
                            <td class="text-left col-sm-1">
                            <small>{{ item.name }}</small></td>
                            <td class="text-left">
                              <div class="input-group btn-block quantity">
                                <select class="form-select col-md-3" id="select{{item.id}}">
                                  {% for key,value in quantities.items %}
                                      {% if key == item.id|slugify %}
                                       <option selected> {{ value }} </option> 
                                      {% endif %}
                                  {% endfor %}            
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                            </select> 
                                <span class="input-group-btn">
                                 <button type="button" data-index={{item.id}} class="btn btn-primary update-cart">ویرایش</button>
                                 <button type="button" data-index={{item.id}} class="btn btn-danger delete-product">حذف</button>
                                </span></div></td>
                            {% if item.especial %}    
                                 <td class="text-right">{{ item.sale_price }}</td>
                            {% else %}
                                <td class="text-right">{{ item.price }}</td>
                            {% endif %}    
                            <td class="text-right">
                         
                            </td>
                        </tr>
                    </tbody>
                </table>
             {% endfor %}   
                </div>
            <h2 class="subtitle">حالا مایلید چه کاری انجام دهید؟</h2>
            <p>در صورتی که کد تخفیف در اختیار دارید میتوانید از آن در اینجا استفاده کنید.</p>
            <div class="row">
                <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title">استفاده از کوپن تخفیف</h4>
                    </div>
                    <div id="collapse-coupon" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form  method="post"  action="{% url 'use_coupon' %}">
                            <div class="row" >
                                <label class="col-sm-4 control-label" for="input-coupon">کد تخفیف خود را در اینجا وارد کنید</label>
                                <div class="col-md-5">
                                    {% csrf_token %}
                                    {{coupon_form}}
                                </div>
                                    <input type="submit" style="margin-top: 27px; border-radius: 5px;" value="اعمال کوپن" id="button-coupon"  class="btn btn-primary">
                                </div>
                            </div> 
                       </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                <table class="table table-bordered">
                    <tr>
                    <td class="text-right"><strong>جمع کل:</strong></td>
                    <td class="text-right">{{ total }} تومان</td>
                    </tr>
                    <tr>
                    <td class="text-right"><strong>مالیات:</strong></td>
                    <td class="text-right">11880 تومان</td>
                    </tr>
                    <tr>
                    <td class="text-right"><strong>کل :</strong></td>
                    <td class="text-right">{{ total }} تومان</td>
                    </tr>
                </table>
                </div>
            </div>
            <div class="buttons">
                <div class="pull-left"><a href="{% url 'get_products' %}" class="btn btn-default">ادامه خرید</a></div>
                <div class="pull-right"><a href="checkout.html" class="btn btn-primary">تسویه حساب</a></div>
            </div>
            </div>
            <!--Middle Part End -->
        </div>
        </div>
    </div>
    <script>
        $(document).on('click', '.update-cart', function(e){
         e.preventDefault();
    
         var productid = $(this).data('index')
         $.ajax({
           type: 'POST',
           url: '{% url "cart_update" %}',
           data: {
             product_id:  $(this).data('index'),
             product_qty: $('#select' + productid + ' option:selected').text(),
             csrfmiddlewaretoken: '{{ csrf_token }}',
             action: 'post'
           },
           success: function(json){
             // console.log(json)
            // document.getElementById("").textContent=json(qty)
            location.reload();
           },
           error: function(xhr, errmsg, err){
           }
         })
        })
    
        $(document).on('click', '.delete-product', function(e){
         e.preventDefault();
    
         $.ajax({
           type: 'POST',
           url: '{% url "cart_delete" %}',
           data: {
             product_id:  $(this).data('index'),
             csrfmiddlewaretoken: '{{ csrf_token }}',
             action: 'post'
           },
           success: function(json){
             // console.log(json)
            // document.getElementById("").textContent=json(qty)
            location.reload();
           },
           error: function(xhr, errmsg, err){
           }
         })
        })
     </script> 
{% endblock %}