
{% comment %}

{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div id="container">
    <div class="container">
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <h2 class="subtitle">برای بازیابی رمز عبور لطفا شمار موبایلی که با ان ثبت نام کرده اید را  وارد کنید</h2>
          <form method="post" action="{% url 'forget_password' %}">
            {% csrf_token %}
              {{ forget_password }}
            </br>
            <div class="row">
              <div class="col-sm-6">
                  <input type="submit" style="border-radius: 10px;" value="ارسال" class="btn btn-primary">
              </div>
              <div class="col-sm-6">
              <div class="list-group">
                <ul class="list-item">
                  
                </ul>
              </div>
            </div>
            </div> 
            </form>
          </br> 
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% endcomment %}