{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div id="container">
    <div class="container">
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <h2 class="subtitle">اگردر سایت ثبت نام نگرده اید برای مدریت هرچه بهتر سفارشات شما لطفا در سایت ثبت نام کنید.</h2>
          <form method="post" action="">
            {% csrf_token %}
              {{ login_form }}
            </br>
            <div class="row">
              <div class="col-sm-6">
                  <input type="submit" value="ورود" class="btn btn-primary">
              </div>
              <div class="col-sm-6">
              <div class="list-group">
                <ul class="list-item">
                  <li><a href="{% url 'register' %}">ثبت نام</a></li>
                  <li><a href="{% url 'phone_verification' %}">فراموشی رمز عبور</a></li>
                </ul>
              </div>
            </div>
            </div> 
            </form>
          </br> 
        </div>
      </div>
    </div>
  </div>
{% endblock %}