{% extends "base/base.html" %}
{% load static %}
{% load humanize %}
{% load jformat %}
{% load madval_persian_translation %}


{% block content %}
<div id="container">
    <div class="container">
      {% if orders %}
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <div class="panel-body">
            {% for item in orders %}
              {% if item.finaled %}
                    <div class="col-md-7">
                      <table class="table table-bordered">
                        <tr>
                          <td class="text-right"><strong<>تاریخ:</strong></td>
                          <td class="text-right"><strong<>{{ item.created_at|jformat:"%Y/%m/%d - %H:%M" }}</strong></td>
                          <td class="text-right"><strong>جمع کل:</strong></td>
                          <td class="text-right" >{{ item.total_price|floatformat:2 }} تومان</td>
                          <td class="text-right"><a href="{% url 'show_items' item.id %}">جزییات سفارش</a></td>
                        </tr>
                    </table>
                  </div>
                {% endif %}           
            {% endfor %}
          </div>
          </div>
        </div>
      {% else %}  
        <h1>شما هیج سفارش ثبت شده ای ندارید</h1>
      {% endif %}  
      </div>
    </div>
</div>
{% endblock %}