{% extends "base/base.html" %}
{% load static %}
{% load humanize %}
{% load jformat %}
{% load madval_persian_translation %}


{% block content %}
<div id="container">
    <div class="container">
      <div class="row">
        <!--Middle Part Start-->
     
        <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered">
              {% for item in order_item %}
                <thead>
                  <tr>
                    <td class="text-center">تصویر</td>
                    <td class="text-left">نام محصول</td>
                    <td class="text-left">تعداد</td>
                    <td class="text-right">قیمت واحد</td>
                    <td class="text-right">کل</td>
                  </tr>
                </thead>
                    <tbody>
                      <tr>
                        <td class="text-center"><a href="product.html"><img src="{{item.picture.url}}" style="width: 100px; height: 100px;" alt="کفش راحتی مردانه" title="کفش راحتی مردانه" class="img-thumbnail"></a></td>
                        <td class="text-left"><a href="product.html">{{item.product}}</a></td>
                        <td class="text-left">{{ item.quantity}}</td>
                        <td class="text-right">{{ item.price_at_order }}</td> 
                        <td class="text-right">{{item.all_price}}</td>
                      </tr>
                    </tbody>
                {% endfor %}  
                <tfoot>
                  <tr>
                    <td class="text-right" colspan="4"><strong> جمع کل  :</strong></td>
                    <td class="text-right">{{ total_price|floatformat:2 }}  تومان</td>
                  </tr>
                  <tr>
                    <td class="text-right" colspan="4"><strong>  هزینه ارسال :</strong></td>
                    <td class="text-right">{{ shipping_cost|floatformat:2 }}  تومان</td>
                  </tr>
                  {% if shipping_cost > 0 %}
                  <tr>
                    <td class="text-right" colspan="4"><strong>  مبلغ پرداختی  :</strong></td>
                    <td class="text-right">{{ final_price|floatformat:2 }}  تومان</td>
                  </tr>
                  {% endif %}
                </tfoot>
              </table>
              <br>
              {% if shipping_cost > 0 and order.payment_status == False %}
              <div class="buttons">
                <div class="pull-left">
                  <button type="submit" class="btn btn-primary" id="button-confirm">پرداخت</button>
                </div>
              </div>
              {% elif payment_status == True and send_status == False %}
                <h3>از خرید شما سپاس گزاریم سفارش در حال اماده سازی برای ارسال است</h3>
              {% elif send_status == True  %}
                 <h3> اخرین سفارش شما دراین تاریخ  {{ order.updated_at|jformat:"%Y/%m/%d - %H:%M" }}به مقصد شما ارسال شده است.</h3>
              {% endif %}
            </div>
          </div>
        <div class="panel-body">
        </div>
        </div>
        <!--Middle Part End -->
      </div>
    </div>
  </div>
{% endblock %}  